<!DOCTYPE html>
<html>
    <head>
        <title data-bind="text: title">Loading...</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/ar4k.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/apple-touch-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='img/apple-touch-icon-144x144.png') }}">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        {% include 'stylesheets.jinja2' %}
        {% include 'initscript.jinja2' %}
    </head>
    <body>
        <div class="page-container">
            <div id="navbar" class="navbar navbar-static-top">
                <div class="navbar-inner" data-bind="css: appearanceClasses">
                    <div class="container">
                        <a class="brand" href="#"> <span data-bind="text: appearance.brand">Loading...</span></a>
                        <div class="nav-collapse">
                            <!-- Navbar -->
                            <ul class="nav pull-right">
                                {% for key in templates.navbar.order %}
                                    {% set data = templates.navbar.entries[key] %}
                                    {% if "custom_bindings" not in data or data["custom_bindings"] %}<!-- ko allowBindings: false -->{% endif %}
                                    <li id="{{ data._div }}"
                                        {% if "data_bind" in data %}data-bind="{{ data.data_bind }}"{% endif %}
                                        {% if "classes" in data %}class="{{ data.classes|join(' ') }}"{% endif %}
                                        {% if "styles" in data %}style="{{ data.styles|join(', ') }}"{% endif %}
                                            >
                                        {% include data.template ignore missing %}
                                    </li>
                                    {% if "custom_bindings" not in data or data["custom_bindings"] %}<!-- /ko -->{% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container octoprint-container">
                <div class="row">
                    <!-- Sidebar -->
                    {% if templates.sidebar.order %}
                    <div class="accordion {% if templates.tab.order %}span4{% else %}span12{% endif %}">
                        {% for key in templates.sidebar.order %}
                            {% set entry, data = templates.sidebar.entries[key] %}
                            {% if "custom_bindings" not in data or data["custom_bindings"] %}<!-- ko allowBindings: false -->{% endif %}
                            <div id="{{ data._div }}_wrapper"
                                 class="accordion-group {% if "classes_wrapper" in data %}{{ data.classes_wrapper|join(' ') }}{% elif "classes" in data %}{{ data.classes|join(' ') }}{% endif %}"
                                 {% if "data_bind" in data %}data-bind="{{ data.data_bind }}"{% endif %}
                                 {% if "styles_wrapper" in data %} style="{{ data.styles_wrapper|join(', ') }}" {% elif "styles" in data %} style="{{ data.styles|join(', ') }}" {% endif %}
                                    >
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-target="#{{ data._div }}">
                                        {% if "icon" in data %}<i class="icon-{{ data.icon }}"></i> {% endif %}{{ entry }}
                                    </a>
                                    {% if "template_header" in data %}
                                        {% include data.template_header ignore missing %}
                                    {% endif %}
                                </div>
                                <div id="{{ data._div }}"
                                     class="accordion-body collapse in {% if "classes_content" in data %}{{ data.classes_content|join(' ') }}{% elif "classes" in data %}{{ data.classes|join(' ') }}{% endif %}"
                                     {% if "styles_content" in data %} style="{{ data.styles_content|join(', ') }}" {% elif "styles" in data %} style="{{ data.styles|join(', ') }}"{% endif %}
                                        >
                                    <div class="accordion-inner">
                                        {% include data.template ignore missing %}
                                    </div>
                                </div>
                            </div>
                            {% if "custom_bindings" not in data or data["custom_bindings"] %}<!-- /ko -->{% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}

                    <!-- Tabs -->
                    {% if templates.tab.order %}
                    <div class="tabbable {% if templates.sidebar.order %}span8{% else %}span12{% endif %}">
                        <ul class="nav nav-tabs" id="tabs">
                            {% for key in templates.tab.order %}
                                {% set entry, data = templates.tab.entries[key] %}
                                {% if "custom_bindings" not in data or data["custom_bindings"] %}<!-- ko allowBindings: false -->{% endif %}
                                <li id="{{ data._div }}_link"
                                    class="{% if loop.first %}active{% endif %} {% if "classes_link" in data %}{{ data.classes_link|join(' ') }}{% elif "classes" in data %}{{ data.classes|join(' ') }}{% endif %}"
                                    {% if "data_bind" in data %}data-bind="{{ data.data_bind }}"{% endif %}
                                    {% if "styles_link" in data %} style="{{ data.styles_link|join(', ') }}" {% elif "styles" in data %} style="{{ data.styles|join(', ') }}" {% endif %}
                                        >
                                        <a href="#{{ data._div }}" data-toggle="tab">{{ entry }}</a>
                                </li>
                                {% if "custom_bindings" not in data or data["custom_bindings"] %}<!-- /ko -->{% endif %}
                            {% endfor %}
                        </ul>

                        <div class="tab-content">
                            {% for key in templates.tab.order %}
                                {% set entry, data = templates.tab.entries[key] %}
                                {% if "custom_bindings" not in data or data["custom_bindings"] %}<!-- ko allowBindings: false -->{% endif %}
                                <div id="{{ data._div }}"
                                     class="tab-pane{% if loop.first %} active{% endif %}{% if "additional_classes" in data %} {{ data.additional_classes|join(' ') }}{% endif %}"
                                     {% if "data_bind" in data %}data-bind="{{ data.data_bind }}"{% endif %}
                                     {% if "styles_content" in data %} style="{{ data.styles_content|join(', ') }}" {% elif "styles" in data %} style="{{ data.styles|join(', ') }}" {% endif %}
                                        >
                                            {% include data.template ignore missing %}
                                </div>
                                {% if "custom_bindings" not in data or data["custom_bindings"] %}<!-- /ko -->{% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="footer">
                    <ul class="pull-left muted">
                        <li><small>{{ _('Version') }}: <span class="version">{{ display_version }}</span></small></li>
                    </ul>
                    <ul class="pull-right">
                        <li><a href="http://www.rossonet.org/archives/579"><i class="icon-home"></i> Rossonet RAM</a></li>
                        <li><a href="https://github.com/rossonet/RAM/"><i class="icon-github"></i> {{ _('Sourcecode') }} RAM</a></li>
                        <li><a href="http://docs.octoprint.org"><i class="icon-book"></i> {{ _('Documentation') }} OctoPrint</a></li>
                        <li><a href="http://octoprint.org"><i class="icon-home"></i> OctoPrint</a></li>
                    </ul>
                </div>
            </div>

            <!-- Dialogs -->
            {% include 'dialogs/confirmation.jinja2' %}
            {% include 'dialogs/firstrun.jinja2' %}
            {% include 'dialogs/settings.jinja2' %}
            {% include 'dialogs/slicing.jinja2' %}
            {% include 'dialogs/usersettings.jinja2' %}
            <!-- End of dialogs -->

            <!-- Overlays -->
            {% include 'overlays/dragndrop.jinja2' %}
            {% include 'overlays/offline.jinja2' %}
            {% include 'overlays/reloadui.jinja2' %}
            <!-- End of overlays -->

            <!-- Generic plugin template files -->
            {% for key in templates.generic.order %}
                {% set data = templates.generic.entries[key] %}
                {% include data.template ignore missing %}
            {% endfor %}
            <!-- End of generic plugin template files -->

            {% include 'javascripts.jinja2' %}
        </div>
	<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('1445-771-10-6904');/*]]>*/</script><noscript><a href="http://www.rossonet.org" title="Contact us" target="_blank">Questions? Feedback?</a></noscript>
<!-- end olark code -->
    </body>
</html>
